<%- include ../layouts/header.ejs %> 
<% if (messages.error) { %>
<div class="alert alert-danger text-center" role="alert"><%- messages.error %></div>
<% } %> <% if (messages.success) { %>
<div class="alert alert-success text-center" role="alert"><%- messages.success %></div>
<% } %>
<div class="container">
  <table class="table">
    <% if (data) { %>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(user){ %>

      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
        <td>
          <div>
            <a href="/users/edit/<%= user.id %>">Edit</a> |
            <form action="/users/delete/<%= user.id %>" method="post">
              <input
                type="submit"
                name="delete"
                value="Delete"
                onClick="return confirm('Are you sure you want to delete?')"
              />
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>

    <tbody>
      <% } %>
    </tbody>
  </table>
</div>

<%- include ../layouts/footer.ejs %>
